*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1e2227;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links a{
    color: #fff;
    cursor: pointer;
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #1e2227;
    color: #fff;
    padding: 60px 100px;

}