*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1e2227;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-width: 90vw;
    z-index: 1;
    padding-left: 8%;
    padding-right: 0.5%;
}
.nav-links{
    display: flex;
    flex-direction: row;
    gap: 25px;
    color: #fff;
    cursor: pointer;

}
.nav-links a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;

    
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #1e2227;
    color: #fff;
    padding: 60px 100px;
}

.logo{
    width: 120px;
    cursor: pointer;
}
.main{
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.main .col1,
.main .col2{
    flex-basis: 50%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: space-between;
}
.main .col1{
    padding-left: 8%;
}

.main .col1 h1{
    font-size: 74px;
    text-transform: uppercase;
    line-height: 100px;
    margin-bottom: 5px;

}

.main .col1 p{
    padding-right: 10px;
    line-height: 20px;
}
.main .col1 .price{
    display: flex;
    align-items: flex-end;
    column-gap: 10px;
    margin: 10px 0;
}

.main .col1 h2{
    line-height: 10px;
    font-size: 25px;
}

.col1 .buttons{
  
    display: flex;
    flex-flow: row nowrap;
    width: max-content;
    column-gap: 10px;
}

.col1 .buttons button{
    background-color: red;
    margin-top: 10px;
    padding: 20px 40px;
    cursor: pointer;
    transition: ease-in 0.4s;
  
}
.col1 .buttons button:hover{
    background-color:#aa0505;
    transform: translateY(-5px);
  
}
.main .col1 .buttons a{
    color: #fff;
    text-decoration: none;
    font-size: 25px;
}

.feature-img {
    width: 100%;
    text-align: center;
}
.main .col2{
    background-color: #aa0505;
    padding-right: 8%;
    position: relative;
}
.feature-img img{
    width: 80%;
    transform: rotate(-20deg);
    transition: 0.4s ease-in-out;
}

.feature-img img:hover{
    transform: rotate(0);
}