*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1e2227;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    min-width: 90vw;
    z-index: 1;
}
.nav-links{
    display: flex;
    flex-direction: row;
    gap: 25px;
    color: #fff;
    cursor: pointer;

}
.nav-links a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;

    
}
.container{
    width: 100vw;
    height: 100vh;
    background-color: #1e2227;
    color: #fff;
    padding: 60px 100px;
}

.logo{
    width: 120px;
    cursor: pointer;
}

